# Node modules
node_modules/

# Environment variables
.env

# Configuration files
config.js

# Logs
logs
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Temporary files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Miscellaneous
*.tgz
